@{
    ViewData["Title"] = "About";
}
@model List<Review>

@foreach(Review review in Model)
{
    <h1>Review For: @review.RestaurantName - @review.Rating star</h1>
    <h3>Reviewer: @review.ReviewerName, @review.ReviewDate.ToString("MMM dd, yyyy")</h3>
    <h4>@review.UserReview</h4>
    <hr>
}
